#dashboard-page {
    position: relative;
    min-height: 100vh;
    >img {
        width: 5rem;
    }  
    
    >#welcome {
        position: absolute;
        top: 1.2rem;
        right: 1.5rem;

        h3{
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;
        }

        p{
            font-weight: 100;
        }
    }

    .date {
        .DateRangePicker__picker {
            transform: scale(0.7);
            -webkit-transform: scale(0.7);
            -moz-transform: scale(0.7);
            -ms-transform: scale(0.7);
            -o-transform: scale(0.7);
        }
        .DateRangePickerInput { //outer box
            background-color: transparent;
            border: 1px solid transparent;
        }

        .DateInput { //inner textbox
            padding:0.1rem;
            background-color: transparent;
            width:fit-content;
            font-size: 0.7rem;
        }

        .DateInput__display-text--has-input { //date itself
            color: white;
        }

        .DateInput__display-text--focused {
            background-color:grey;
        }

        .DateInput__input {
            cursor:pointer;
        }

        .DateRangePickerInput__arrow {
            svg {
                transform: scale(0.6);
                -webkit-transform: scale(0.6);
                -moz-transform: scale(0.6);
                -ms-transform: scale(0.6);
                -o-transform: scale(0.6);
                fill:white
            }
        }


        .DayPicker--horizontal { //background of the month calender container
            background-color: black;
        }

        .DayPickerNavigation__prev--default, //border of the front and back arrow of the calender
        .DayPickerNavigation__next--default {
            background-image: linear-gradient(black,black);
            border:none
        }

        .DayPicker__week-header { //mon- sun on the calendar
            color: white;
            background-color: black;
        }

        .CalendarMonthGrid { //the month div itself
            background-color: black;
        }

        .CalendarMonth__caption { //the month and year heading 
            color: white;
        }

        .DayPickerKeyboardShortcuts__show--bottom-right { //the question mark at the bottom right
            border-right: 33px solid black;
        }

        .CalendarDay--selected-span {//days selected span
            background: grey;
            border: 1px double grey;
            color: white;
        }

        .CalendarDay--selected-start, .CalendarDay--selected-end, .CalendarDay--selected {
            background: grey;
            border: 1px double grey;
            color: #fff;
        }

        .DayPickerKeyboardShortcuts__show--bottom-right:hover {
            border-right: 33px solid grey;
        }

        .CalendarDay { //each day box
            border:none;
        }

        .CalendarDay__button:hover {
            background-image: linear-gradient(grey,grey);
            transition:none;
            -webkit-transition:none;
            -moz-transition:none;
            -ms-transition:none;
            -o-transition:none;
        }
    }

    #dashboard-details_container {
        margin-top: 10vh;
        >div {
            width: 10rem;
            height: 5rem;
            border: 1px solid none;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
            background-image: linear-gradient(to right, rgb(67,67,67),rgb(121,121,121),
                rgba(255, 255, 255, 0.75)),linear-gradient( red,rgba(0, 0, 255, 0.6));
            margin: 1rem;
            padding: 0.5rem 0.8rem;
            // box-shadow: 0.1rem 0.1rem 0.5rem  grey;

            >span {
                font-family: 'Poppins', sans-serif;
                font-size: 0.9rem;
            }

            >p {
                text-align: center;
                margin-top: 0.7rem;
                font-size: 0.9rem;
            }
        }

        >div:first-child {
            width: 15rem;
            height: 7rem;

            >p {
                margin-top: 1.5rem;
                margin-bottom: 0.9rem;
                font-size: 1rem;
            }
        }
    }
}
