#dashboard-page {
    position: relative;
    min-height: 100vh;
    background-image: url('../Images/background2.avif');
    >img {
        width: 5rem;
    }  
    
    >#welcome {
        position: absolute;
        top: 1.2rem;
        right: 1.5rem;

        h3{
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;
        }

        p{
            font-weight: 100;
        }
    }

    .date {
        .DateRangePicker__picker {
            transform: scale(0.7);
            -webkit-transform: scale(0.7);
            -moz-transform: scale(0.7);
            -ms-transform: scale(0.7);
            -o-transform: scale(0.7);
        }
        .DateRangePickerInput { //outer box
            background-color: transparent;
            border: 1px solid transparent;
        }

        .DateInput { //inner textbox
            padding:0.1rem;
            background-color: transparent;
            width:fit-content;
            font-size: 0.7rem;
        }

        .DateInput__display-text--has-input { //date itself
            color: white;
        }

        .DateInput__display-text--focused {
            background-color:grey;
        }

        .DateInput__input {
            cursor:pointer;
        }

        .DateRangePickerInput__arrow {
            svg {
                transform: scale(0.6);
                -webkit-transform: scale(0.6);
                -moz-transform: scale(0.6);
                -ms-transform: scale(0.6);
                -o-transform: scale(0.6);
                fill:white
            }
        }


        .DayPicker--horizontal { //background of the month calender container
            background-color: black;
        }

        .DayPickerNavigation__prev--default, //border of the front and back arrow of the calender
        .DayPickerNavigation__next--default {
            background-image: linear-gradient(black,black);
            border:none
        }

        .DayPicker__week-header { //mon- sun on the calendar
            color: white;
            background-color: black;
        }

        .CalendarMonthGrid { //the month div itself
            background-color: black;
        }

        .CalendarMonth__caption { //the month and year heading 
            color: white;
        }

        .DayPickerKeyboardShortcuts__show--bottom-right { //the question mark at the bottom right
            border-right: 33px solid black;
        }

        .CalendarDay--selected-span {//days selected span
            background: grey;
            border: 1px double grey;
            color: white;
        }

        .CalendarDay--selected-start, .CalendarDay--selected-end, .CalendarDay--selected {
            background: grey;
            border: 1px double grey;
            color: #fff;
        }

        .DayPickerKeyboardShortcuts__show--bottom-right:hover {
            border-right: 33px solid grey;
        }

        .CalendarDay { //each day box
            border:none;
        }

        .CalendarDay__button:hover {
            background-image: linear-gradient(grey,grey);
            transition:none;
            -webkit-transition:none;
            -moz-transition:none;
            -ms-transition:none;
            -o-transition:none;
        }
    }

    #dashboard-details_container {
        margin-top: 5vh;
        >div {
            width: 12rem;
            height: 7rem;
            border: 1px solid none;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
            background-image: linear-gradient(to right, rgb(67,67,67),rgb(121,121,121),
                rgba(255, 255, 255, 0.75));
            margin: 2rem 1rem;
            padding: 0.5rem 0.8rem;

            >span {
                font-family: 'Poppins', sans-serif;
                font-size: 0.9rem;
            }

            >p {
                text-align: center;
                margin-top: 1.5rem;
                font-size: 0.9rem;
            }
        }

        >div:first-child {
            width: 17rem;
            height: 9rem;

            >p {
                margin-top: 2rem;
                margin-bottom: 1.5rem;
                font-size: 1rem;
            }
        }
    }
}

@media only screen and (min-width:350px){
    #dashboard-page {
        font-size: 1.1rem;
        #dashboard-details_container {
            >div {
                margin-left:6%;
            }
        }
    }
}


@media only screen and (min-width:400px){
    #dashboard-page {
        #dashboard-details_container {
            >div {
                margin-left:10%;
            }
        }
    }
}

@media only screen and (min-width:430px){
    #dashboard-page {
        font-size: 1.2rem;
        >#welcome>h3 {
            font-size: 1.2rem;
        }
        #dashboard-details_container {
            >div {
                width:14rem;
            }

            >div:first-child {
                width:19rem;

                p{
                    font-size: 1.4rem;
                }
            }
        }
    }
}

@media only screen and (min-width:600px){
    #dashboard-page {
        #dashboard-details_container {
            >div {
                margin-left:12%;
            }
        }
    }
}

@media only screen and (min-width:660px){
    #dashboard-page {
        #dashboard-details_container {
            >div {
                margin-left:20%;
            }
        }
    }
}

@media only screen and (min-width:769px){
    #dashboard-page {
        #welcome {
            position:relative;
            top: auto;
            right: auto;
            margin:1rem;
        }
        #dashboard-details_container {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: center;
            width: 90vw;
            >div:first-child {
                grid-column-start: 1;
                grid-column-end:3 ;
                margin: 2rem auto;
            }

            >div{
                margin:2rem;
            }
        }
    }
}

@media only screen and (min-width:1100px) {
    #dashboard-page {
        img,#welcome {
            margin-left: 2rem;
        }

        .date .DateInput {
            font-size: 0.9rem;
        }

        #dashboard-details_container {
            >div:first-child {
                font-size: 1.5rem;
                height: 11rem;
                width: 22rem;

                span {
                    font-size: 1.1rem;
                }

                p{
                    font-size: 2rem;
                }
            }

            >div {
                font-size: 1.1rem;
                width: 16rem;
                height: 8rem;
                
                p{
                    margin-top: 1.8rem;
                }
            }
        }
    }
}
