#form-page {
    width: 90vw;
    margin: 1rem auto;
    min-height: 100vh;

    h2 {
        margin-bottom: 2rem;
    }

    form {
        >* {
            width: 100%;
            margin-bottom: 1rem;
            outline: none;
            padding:0.4rem 0.3rem;
            background-color: rgb(87, 86, 86);
            border: none;
            color: whitesmoke;
            font-size: 0.8rem;
        }

        ::placeholder {
            color: rgb(163, 163, 163);
            font-size: 0.8rem;
        }

        .date {
            background-color: black;
            .SingleDatePicker__picker {
                transform: scale(0.7);
                -webkit-transform: scale(0.7);
                -moz-transform: scale(0.7);
                -ms-transform: scale(0.7);
                -o-transform: scale(0.7);
            }
            .SingleDatePickerInput { //outer box
                background-color: transparent;
                background-color: rgb(87, 86, 86);
                border: 1px solid transparent;
            }
    
            .DateInput { //inner textbox
                padding:0.1rem;
                background-color: transparent;
                width:fit-content;
                font-size: 0.7rem;
            }
    
            .DateInput__display-text--has-input { //date itself
                color: white;
            }
    
            .DateInput__display-text--focused {
                background-color:grey;
            }
    
            .DateInput__input {
                cursor:pointer;
            }    
    
            .DayPicker--horizontal { //background of the month calender container
                background-color: black;
            }
    
            .DayPickerNavigation__prev--default, //border of the front and back arrow of the calender
            .DayPickerNavigation__next--default {
                background-image: linear-gradient(black,black);
                border:none
            }
    
            .DayPicker__week-header { //mon- sun on the calendar
                color: white;
                background-color: black;
            }
    
            .CalendarMonthGrid { //the month div itself
                background-color: black;
            }
    
            .CalendarMonth__caption { //the month and year heading 
                color: white;
            }
    
            .DayPickerKeyboardShortcuts__show--bottom-right { //the question mark at the bottom right
                border-right: 33px solid black;
            }
    
            .CalendarDay--selected-span {//days selected span
                background: grey;
                border: 1px double grey;
                color: white;
            }
    
            .CalendarDay--selected-start, .CalendarDay--selected-end, .CalendarDay--selected {
                background: grey;
                border: 1px double grey;
                color: #fff;
            }
    
            .DayPickerKeyboardShortcuts__show--bottom-right:hover {
                border-right: 33px solid grey;
            }
    
            .CalendarDay { //each day box
                border:none;
            }
    
            .CalendarDay__button:hover {
                background-image: linear-gradient(grey,grey);
                transition:none;
                -webkit-transition:none;
                -moz-transition:none;
                -ms-transition:none;
                -o-transition:none;
            }
        }
        
        textarea {
            height:7rem;
        }

        #form-button {
            background-color: transparent;
        }
    }
}
