#header-nav {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    padding: 0.5rem 0;
    background-color: rgba(36, 35, 35, 0.95);
    background-color: rgba(0, 0, 0, 0.9);

    >.nav {
        display: flex;
        flex-direction: column;
        flex: 1;
        flex-basis: 0;
        align-items: center;
        color: gray;
        transition:0.5s;
        -webkit-transition:0.5s;
        -moz-transition:0.5s;
        -ms-transition:0.5s;
        -o-transition:0.5s;
        text-decoration: none;

        ion-icon {
            font-size: 1.3rem;
        }

        span {
            font-size: 0.6rem;
            font-weight: 500;
        }
    }

    >.nav:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

    .header-nav-item_active {
        color: white;
        

        span {
            font-weight: 700;
            font-size: 0.7rem;
        }
    }
}

@media only screen and (min-width:769px) {
    #header-nav {
        position: absolute;
        top: 1.5rem;
        bottom: auto;
        right: 8%;
        width: 60%;
        background-color: transparent;

        >.nav {
            color: white;

            // ion-icon {
            //     display: none;
            // }

            span {
                font-weight: 300;
                font-size: 1rem;
            }
        }

        >.nav:hover {
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
        }

        .header-nav-item_active {
            color: gray;
    
            span {
                font-weight: 700;
                font-size: 1.1rem;
            }
        }
    }
}