#feedback {
    height: 8rem;
    width:30rem;
}

li {
    padding-bottom: 1rem;
}

#help-page {
    padding-left: 5rem;
}

#help-solicit {
    font-weight: 700;
}

#feedback-container {
    display: flex;
    align-items: flex-end;
}