#help-page {
    width: 80vw;
    margin: 1rem auto;
    font-size: 0.8rem; 
    color: whitesmoke;


    ul {
        list-style-type:circle;

        li {
            padding-bottom: 1rem;
        }
    }

    >p{
        padding-bottom: 1rem;
        font-style: italic;
    }

    #response {
        display: flex;
        align-items: flex-end;
        margin-bottom: 2rem;
        textarea {
            height: 5rem;
            width: 10rem;
        }

        button {
            width: 4rem;
            padding: 0.2rem 0.5rem;
            height: fit-content;
        }
    }

    >div:last-child {
        margin-bottom: 5rem;
    }


}