#help-page {
    width: 80vw;
    margin: 1rem auto;
    font-size: 0.8rem; 
    color: whitesmoke;

    img {
        display: none;
    }


    ul {
        list-style-type:circle;

        li {
            padding-bottom: 1rem;
        }
    }

    >p{
        padding-bottom: 1rem;
        font-style: italic;
    }

    #response {
        display: flex;
        align-items: flex-end;
        margin-bottom: 2rem;
        max-width: 20rem;
        textarea {
            height: 7rem;
            width: 70%;
        }

        button {
            width: 4rem;
            padding: 0.3rem 0.6rem;
            height: fit-content;
            color:whitesmoke
        }
    }

    >div:last-child {
        margin-bottom: 5rem;
        
        button {
            color:white;
        }
    }
}

@media only screen and (min-width:769px) {
    #help-page {
        img {
            display: block;
            width: 5rem;
        }

        h1,ul,p,div{
            max-width: 40rem;
            display: block;
            margin: 1rem auto;
        }

        h1 {
            margin: 2rem auto;
        }

        div:first-of-type {
            width: 40rem;
            min-width: 40rem;
            margin: 1rem auto;
        }
    }
}