.details-page {
    width: 90vw;
    height: auto;
    margin:0 auto;
    h2 {
        text-align: center;
        // font-family: 'Poppins', sans-serif;
        padding: 0.5rem 0;
    }

    .add-detail {
        text-decoration: none;

        button {
            color: white;
            margin: 2rem auto;
        }
    }

    >div:first-of-type {
        display: flex;
        flex-direction: row-reverse;
        margin:1rem auto;
        justify-content: space-between;
        align-items: end;
        font-size: 0.7rem;

        input {
            width: 35%;
            padding: 0.1rem 0.5rem ;
            outline: none;
            height: 50%;
            border-radius: 0.4rem;
            -webkit-border-radius: 0.4rem;
            -moz-border-radius: 0.4rem;
            -ms-border-radius: 0.4rem;
            -o-border-radius: 0.4rem;
            border: 1px solid transparent;
        }

        >div {
            width: 40%;

            select {
                width: 100%;
                border-radius: 0.4rem;
                -webkit-border-radius: 0.4rem;
                -moz-border-radius: 0.4rem;
                -ms-border-radius: 0.4rem;
                -o-border-radius: 0.4rem;
                border: 1px solid transparent;
                outline: none;
                cursor: pointer;
            }
        }
    }

    >h3 {
        font-size: 1rem;
        margin: 1rem auto;
    }

    .records-list {
        >.detail {
            >div:first-child {
                display: grid;
                grid-template-columns: 8% 60% 23%;
                padding: 1rem 0.5rem;
                column-gap: 5%;
                align-items: center;
                font-size: 0.8rem;
                cursor: pointer;

                p:first-child {
                    background-color: rgb(83, 83, 83);
                    border: 1px solid transparent;
                    text-align: center;
                    padding: 0.2rem;
                    border-radius:0.3rem;
                    -webkit-border-radius:0.3rem;
                    -moz-border-radius:0.3rem;
                    -ms-border-radius:0.3rem;
                    -o-border-radius:0.3rem;
                }

                p:nth-child(2) {
                    font-family: 'Poppins', sans-serif;
                    overflow-x: hidden;
                }

                p:last-child {
                    text-align: right;
                    color: rgb(201, 200, 200);
                }
            }
        }
    }
}