#loading-page {
    height:100vh;
    position:relative;

    img {
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        animation-name: shrinker;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
}


@keyframes shrinker {
    50% {
        width: 3rem;
        height: 3rem;
    }
}