#login-logo {
    display: block;
    margin: 1rem auto;
}

#intro {
    font-family: 'La Belle Aurore', cursive;
    margin-top: 3rem;
    text-align: center;
    font-size: 1.5rem;
}

#login-button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform:translate(-50%, -50%);
}

//***********************************************************//
//                     Media Queries                         //
//***********************************************************//
@media screen and (max-width: 500px) {
    #login-logo{
        width: 22rem;
        height: 10rem;
    }

    #intro {
        font-size: 3rem;
        margin: 7rem 1rem 0 1rem;
    }

    #login-button {
        width: 20rem;
        height: 8rem;
        font-size: 2rem;
        font-weight: 600;
        padding: 0;
    }
}