.modal-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    background: black;
    width: 90%;
    max-width: 25rem;
    padding: 1.5rem;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    font-size: 0.8rem;

    >div{
        display: grid;
        grid-template-columns: 7rem auto;
        margin-bottom: 0.5rem;

        p{
            inline-size: 15rem; //very important to show the allowable size of the word
            overflow-wrap: break-word;   
        }
    }



    >div:last-child{
        display:flex;

        .edit-detail {
            text-decoration: none;
        }
    
        button {
            height: 1.5rem;
            width:3rem;
            padding:0.2rem 0.5rem;
            margin: 0.8rem 1rem 0 1rem;
        }
    }
}