// .ReactModal__Overlay {
//     background-color: red;
// } 

// .ReactModal__Overlay--after-open {
// }

// .ReactModal__Content {
//     background: black;
// }

// .ReactModal__Content--after-open {
//     background: black;
// } 
.modal-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    background: black;
    padding: 2rem 3rem;
}

.modal-style > div {
    display: grid;
    grid-template-columns: 7rem auto;
}

.modal-style p {
    inline-size: 15rem; //very important to show the allowable size of the word
    overflow-wrap: break-word;
}

.button-small {
    height: 2rem;
    width:4rem;
    font-size: 1rem;
    padding:0.2rem 0.5rem;
    margin: 0.8rem 1rem 0 1rem;
}