*{
    box-sizing: border-box;
}

body{
    background-color: $dark-purple;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}

button {
    color: black;
    background-image: linear-gradient(to right, darken($pink,10), lighten($pink,10), $pink) ;
    font-size: 1.5rem;
    border: transparent;
    border-radius: 4%;
    padding: 1rem 4rem;
}

button:hover {
    color: white;
    background-image: linear-gradient(to right, darken($pink,10), darken($pink, 10));
    transition: background-image 0.3s, color 0.3s;
    cursor: pointer;
}

//***********************************************************//
//                     Media Queries                         //
//***********************************************************//
@media screen and (max-width: 1300px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 930px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 730px) {
    html {
        font-size: 7px;
    }
}
@media screen and (max-width: 650px) {
    html {
        font-size: 6.5px;
    }
}
@media screen and (max-width: 600px) {
    html {
        font-size: 6px;
    }
}
@media screen and (max-width: 550px) {
    html {
        font-size: 5.5px;
    }
}
@media screen and (max-width: 500px) {
    html {
        font-size: 9px;
    }

    button {
        font-size: 3rem;
        padding: 2rem 8rem;
    }
}