//colors
$purple:#662bc9;
$dark-purple: darken($color: #602cb9, $amount: 30);
$darker-purple:darken(#602cb9, 40);
$light-grey:lighten(grey, 20);
$pink:#fd05f3;

//font-families
//font-family: 'Dancing Script', cursive;
//font-family: 'La Belle Aurore', cursive;
//font-family: 'Noto Sans JP', sans-serif;
